
@{
    ViewBag.Title = "БД недоступна";
}

@{ 
    Layout = null;
}


<br />
<br />
<div style="margin-left: 20%;">
    <h2> Извините. База данных с товарами временно недоступна.</h2>

    <img src="~/Content/img/Data_Not_Found.jpg" style="width: 60%" alt="Responsive image">
    <p>Error. @ViewBag.MyMessage</p>
</div>