
@{
    ViewBag.Title = "DataNotFound";
}

<br />
<br />
<div style="margin-left: 20%;">
    <h2>Запрошены несуществующие данные. </h2>
        <h3>Попробуйте ещё</h3>
    <img src="~/Content/img/Data_Not_Found.jpg" style="width: 60%" alt="Responsive image">
    <p>Error. @ViewBag.MyMessage</p>
</div>