
@{
    ViewBag.Title = "Заказ уже в пути!";
}
<div>
<h2>Спасибо!</h2>
<p>Торговый пеликан уже получает необходимые инструкции и выдвигается в указанное вами место!</p>
    <p>Подготовьте золото и ожидайте доставки. Вас скоро найдут! </p>
</div>